@media screen and (min-width: 595px) {
    main {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
    }

    .even-card,
    .spotlight-card,
    .weather-card {
        grid-row: 2/3;
    }

    h1 {
        grid-column: 1/4;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .links {
        display: inline-flex;
        margin-left: 10px;
        gap: 50px;
    }

    .logo-image {
        margin-bottom: 20px;
    }

    /*----------Form Styles Start Here----------*/

    .membershipBenefits {
        grid-column: 2/4;
    }

    .chamberForm input[type="hidden"] {
        grid-column: 2/3;
    }
}