@media screen and (min-width: 595px) {
    main {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
    }

    .even-card,
    .spotlight-card,
    .weather-card {
        grid-row: 2/3;
    }

    h1 {
        grid-column: 1/4;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .links {
        display: inline-flex;
        margin-left: 10px;
        gap: 50px;
    }

    .logo-image {
        margin-bottom: 20px;
    }

    /*----------Discover.html Styles Starts Here----------*/
    .resp-img {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }

    .gallery {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .side-logo,
    .news {
        grid-column: 1/2;
        padding: 35px;
    }

    .gallery img:hover {
        transform: scale(0.5);
    }

    /*----------Form Styles Starts Here----------*/

    .membershipBenefits {
        grid-column: 2/4;
    }

    .chamberForm input[type="hidden"] {
        grid-column: 2/3;
    }

    /*----------Directory Styles Starts Here----------*/

    #direct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }


}