@media screen and (min-width: 602px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    h1 {
        grid-column: 1/3;
        text-align: center;
    }

    .card,
    p {
        margin-top: 40px;
    }

    .card {
        margin: 20px;
    }

    nav a {
        display: inline-block;
        margin: 15px;
        padding: 10px;
    }
}